.navbar-brand {

    font-family: 'Roboto Slab', serif;

}
.container {
    margin-top: 25px;
}

.btn-group{

margin-bottom: 25px;

}
.card-header {
    background-color: black;
    color: white;
}
#create{
    background: blueviolet;
}

#view{
    background: peachpuff;
}


#playerform {
    

    /* background: red; */

}

#playercards {

    background: yellow;

}