nav {
    background-color: #78909C;
}
.navbar-brand {

    color: white;
    font-family: 'Roboto Slab', serif;

}
.container {
    margin-top: 25px;
}

.btn-group{

margin-bottom: 25px;

}
.card-header {
    background-color: #000033;
    color: white;
}
.choose {
   background-color: #000033;
   color: white;
   
}

.choose:hover {
    background-color: white;
   color: #000033;
   border-style: solid 1px;
   border-color: #000033;
}




#playerform {
    

    /* background: red; */

}

#playercards {

    
}